html {
  font-family: Arial, Helvetica, sans-serif
}

svg#canvas {
  margin: 20px auto;
  display: block;
}

.footer {
	font-size: 80%;
	text-align: center;
	margin: 40px auto;
}

.footer span {
	margin: 0 5px;
}