html {
  font-family: Arial, Helvetica, sans-serif
}

body{
	padding-bottom: 240px;
}

a {
	color: #36C;
}

svg#canvas {
  margin: 20px auto;
  display: block;
}

.footer {
	font-size: 80%;
	text-align: center;
	margin: 20px auto;
}

.cat_label {
	font-weight: bolder;
	cursor: pointer;
}

.cat_underline{
	stroke: #36C;
	stroke-width: 2px;
}

div.tooltip {
	position: absolute;
	width: 150px;
	padding: 10px;
	font-size: 80%;
	background: #c5b0d5;
	border: 0px;
	border-radius: 3px;
	pointer-events: none;
}

div.sidebar {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: -300px;
	width: 260px;
	padding: 20px;
  background: #c5b0d5;
	opacity: 0.9;
	overflow-y: auto;
}